<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenRouterAPIKey</key>
	<string>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</string>
	<key>OpenRouterModel</key>
	<string>x-ai/grok-4.1-fast</string>
</dict>
</plist>
